* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    border: 5px solid black;
}

.container {
    height: 100%;
    width: 100%;
    border: 2px solid blue;
    padding: 10px;
    /* margin: 10px; */
    /* margin: auto; */
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.left-container {
    width: 50%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-colour {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.right-container {
    width: 50%;
    height: 100%;
    border: 2px solid black;
}

.color {
    margin-left: 10px;
}

.add-note {}